html {
    scroll-behavior: smooth;
}
body{
    
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: justify;
}
#sms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #007bff;
    position: fixed;
    bottom: 30px;
    right: 60px;
    border-radius: 50%;
    z-index: 100;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, bottom 0.5s ease-in-out;
}
.container-navbar{
    width: 100%;
    background-color: #ffffff;
}
.sticky {
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    animation: topbar 0.5s ease-in;
}
@keyframes topbar {
    0% {
        top: -50px;
    }
    100% {
        top: 0;
    }
}
.cart-hover {
    cursor: pointer;
    position: relative;
}
.cart {
    cursor: default;
    display: none;
    width: 400px;
    position: absolute;
    z-index: 10;
    left: -300px;
    top: 20px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transition: display 0.3s ease-in-out;
    border-radius: 6px;
}
.cart-hover:hover .cart {
    display: block;
    animation: topease 0.3s ease-in;
}
@keyframes topease {
    0% {
        top: 40px;
    }
    100% {
        top: 20px;
    }
}
.cas-container{
    height: 50%;
    width: 100%;

}
@media only screen and (max-width: 767px) {
    .profile {
        align-self: self-start;
    }
    .web-title {
        font-size: 24px;
    }
}
.circle1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color:rgb(37, 159, 175);
}
.circle1:hover{
    background-color:black;

}
.ratings{
    margin-right:10px;
}

.ratings i{
    
    color:#cecece;
    font-size:16px;
}

.rating-color{
    color:#fbc634 !important;
}
.review-count{
    font-weight:400;
    margin-bottom:2px;
    font-size:16px !important;
}
.custom-thumbnail {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin-right: 10px;
}
.custom-a {
    width: 100%;
}
.card-img-top {
    height: 160px !important;
}
.custom-bg {
    background: linear-gradient(to right,#3846dc,#9279dc);
    height: 150px;
}
ul.custom-style li a i {
    color: #007bff;
    width: 20px;
}